.chat-container {
  width: 350px;
  height: 450px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-container.visible {
  display: flex;
}

.chat-header {
  background-color: #0084ff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.chat-title {
  font-size: 1.2rem;
  margin-left: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.chat-messages {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
  background-color: #f7f7f7;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.avatar {
  background-color: #0084ff;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
}

.message-text {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.received {
  flex-direction: row-reverse;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f7f7f7;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.send-button {
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}
