body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-dark {
  background-color: rgb(40, 40, 40);
  height: 100vh;
  background-size: cover;
  overflow: auto;
}

.App-light {
  background-color: rgb(225, 225, 220);
  height: 100vh;
  background-size: cover;
  overflow: auto;
}
