.container1 {
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  padding-top: 50px;
  min-height: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.envelope {
  width: 600px;
  cursor: pointer;
  min-height: 300px;
  position: relative;
  transition: all 1s ease-in-out;
}
.envelope:hover .top-wrap {
  transform: rotatex(180deg);
}
.inner {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}
.triangle {
  width: 600px;
  height: 300px;
  position: absolute;
}
.top-wrap {
  position: absolute;
  transform-origin: top;
  transition: all 1s ease-in-out;
}
.frontface {
  backface-visibility: hidden;
}
.top {
  width: 600px;
  height: 160px;
  position: absolute;
  background: linear-gradient(
      39deg,
      transparent 24%,
      rgba(0, 0, 0, 0.2) 24.5%,
      #4c8baa 24%,
      #4c8baa 230px,
      transparent 42%
    ),
    linear-gradient(
      -39deg,
      transparent 24%,
      rgba(0, 0, 0, 0.2) 24.5%,
      #4c8baa 24%,
      #4c8baa 230px,
      transparent 42%,
      transparent 100%
    );
}
.backface .top {
  background: linear-gradient(
      39deg,
      transparent 24%,
      rgba(0, 0, 0, 0.1) 24.5%,
      #415e72 24%,
      #415e72 230px,
      transparent 42%
    ),
    linear-gradient(
      -39deg,
      transparent 24%,
      rgba(0, 0, 0, 0.1) 24.5%,
      #415e72 24%,
      #415e72 230px,
      transparent 42%,
      transparent 100%
    );
}
.top-center {
  width: 284px;
  height: 197px;
  background-color: #4c8baa;
  position: absolute;
  left: 158px;
  border-radius: 0 0 50% 50% /0 0 60% 60%;
  box-shadow: 0 1px 0 #4c8baa, 0 2px 1px rgba(0, 0, 0, 0.4);
}
.backface .top-center {
  background-color: #415e72;
  box-shadow: 0 1px 0 #415e72, 0 2px 1px rgba(0, 0, 0, 0.2);
}
.back,
.front {
  width: 600px;
  height: 300px;
  top: 0px;
  position: absolute;
  border-radius: 0 0 30px 30px;
}
.back {
  background-color: #50748b;
  border-top: 2px solid #49687e;
  z-index: -1;
  box-shadow: 8px 8px 15px 1px rgba(0, 0, 0, 0.2);
}
.letter-wrap {
  position: absolute;
  top: 0;
  padding: 10px 0;
  width: 600px;
  height: 200px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.letter {
  position: relative;
  padding: 30px 10px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f1ebe3;
  transition: all 1s ease-in-out;
  border: 1px solid #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
  -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
}
.letter p label {
  color: #b3aba1;
  margin: 0 25px;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #fff;
  font-size: 13px;
}
.letter p input,
textarea {
  width: 90%;
  height: 35px;
  display: block;
  margin: 5px 20px;
  padding: 5px;
  background: none;
  outline: none;
  color: #7c7873;
  border: 1px solid #f8f5f1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 1px #726959;
  -webkit-box-shadow: inset 0px 0px 1px #b3a895;
  box-shadow: inset 0px 0px 1px #b3a895;
}
textarea {
  height: 105px;
  resize: none;
}
input:focus,
textarea:focus {
  background-color: #f8f4ee;
}
input[type="submit"] {
  color: #7c7873;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}
input:hover[type="submit"] {
  color: #435c70;
  background-color: #f8f4ee;
}
/*========================================*/
.front {
  overflow: hidden;
}
.left {
  background: linear-gradient(
    38deg,
    #4c8baa 40%,
    rgba(255, 255, 255, 0.3) 40.5%,
    transparent 40%
  );
}
.right {
  background: linear-gradient(
    -38deg,
    #4c8baa 40%,
    rgba(255, 255, 255, 0.3) 40.5%,
    transparent 40%
  );
}
.bottom {
  width: 600px;
  height: 175px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 10%, transparent),
    linear-gradient(
      150deg,
      transparent 24%,
      rgba(255, 255, 255, 0.2) 25%,
      #4c8baa 24%,
      #4c8baa 42%,
      transparent 42%,
      transparent 100%
    ),
    linear-gradient(
      -150deg,
      transparent 24%,
      rgba(255, 255, 255, 0.2) 25%,
      #4c8baa 24%,
      #4c8baa 42%,
      transparent 42%,
      transparent 100%
    ),
    linear-gradient(to top, #4c8baa 77%, transparent 77%);
}
.rounded {
  width: 180px;
  height: 80px;
  border-radius: 33px;
  background-color: #4c8baa;
  position: absolute;
  box-shadow: 0 -1px 1px 2px rgba(255, 255, 255, 0.2);
  top: 120px;
  left: 210px;
}
.notif {
  left: 50%;
  top: 50%;
  margin: 0;
  padding: 0;
  display: none;
  font-size: 30px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}
