@import url("https://fonts.googleapis.com/css?family=Bad+Script");


.chatbot-container-dark {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chatbot-left-dark {
  padding-top: 2vh;
  height: 100vh;
  width: 40vw;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
}


.chatbot-name{
  text-align: center;
  font-size: large;
  font: bold;
}


.chatbot-header-dark {
  display: flex;
  width: 90vh;
  justify-content: space-between;
  padding: 10px;
  background-color: #1c2237;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px 0 0 0;
}

.chatbot-body-dark {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 60vw;
}

.chatbot-image-dark {
  display: flex;
  height: 60vh;
}


.chatbot-chat-dark {
  height: 100vh;
  align-items: center;
  width: 60vw;
}

.chatbot-chat-dark form {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.chatbot-chat-dark textarea {
  height: 10vh;
  width: 60vw;
  flex: 1;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  resize: none;
  overflow-y: scroll;
  background-color: #f5f5f5;
}

.chatbot-chat-dark input[type="text"] {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
}

.chatbot-chat-dark button[type="submit"] {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  background-color: #1c2237;
  color: #fff;
  cursor: pointer;
}



@media (max-width: 950px) {
  .chatbot-image-dark {
    height: 40vh;
  }
}

@media (max-width: 550px) and (min-width: 430px) {

  .chatbot-image-dark {
    height: 30vh;
  }
}

@media ((max-width: 429px) and (min-width: 360px)) or (max-height: 670px) {

  .chatbot-image-dark {
    
    height: 20vh;
  }
}