.update-profile-main-dark {
  align-items: center;
  background-image: url("/public/images/editprofiledark.jpg");
  background-size: cover;
}

.update-profile-main-light {
  align-items: center;
  background-image: url("/public/images/editprofilelight.jpg");
  background-size: cover;
}

.update-profile-label-dark {
  display: block;
  margin-bottom: 10px;
  padding-left: 10vh;
  padding-right: 10vh;
  width: 50vw;
  /*colored text in text box*/
  -webkit-text-fill-color: orangered;
  -webkit-opacity: 1;


}

.update-profile-label-light {
  display: block;
  margin-bottom: 10px;
  padding-left: 10vh;
  padding-right: 10vh;
  width: 50vw;
  -webkit-text-fill-color: rgb(60, 216, 55);
  -webkit-opacity: 1;

}

.update-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updatedprofile-pic-dark {
  align-items: center;
  max-width: 60vh;
  max-height: 60vh;
  border-radius: 50%;
  background-color: white;
}

.updatedprofile-pic-light {
  align-items: center;
  max-width: 60vh;
  max-height: 60vh;
  border-radius: 50%;
  background-color: black;
}


.update-profile-allbuttons {
  display: flex;
  flex-direction: column;
  padding-left: 12vh;
  padding-right: 12vh;
  align-items: center;
  justify-content: center;
}

.upload-profilepic-dark {
  box-sizing: border-box;
  width: 10vw;
  display: flex;
  flex-direction: column;
  outline: none;
  background-color: #d52222;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.upload-profilepic-light {
  box-sizing: border-box;
  width: 10vw;
  display: flex;
  flex-direction: column;
  outline: none;
  background-color: #d52222;
  text-align: center;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  display: none;
}


/* button */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #050801;
  font-family: 'Raleway', sans-serif;
}

.update-profile-savebutton-dark {
  padding: 4vh 2vh;
  width: 20vw;
  background-color: #050801;
  color: #5370e2;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.update-profile-savebutton-light {
  padding: 4vh 2vh;
  width: 20vw;
  background-color: rgb(205, 142, 7);
  color: #050801;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.update-profile-savebutton-dark:hover {
  background: #5370e2;
  color: #050801;
  box-shadow: 0 0 5px #5370e2,
    0 0 25px #5370e2,
    0 0 50px #5370e2,
    0 0 200px #5370e2;
}

.update-profile-savebutton-light:hover {
  background: #5370e2;
  color: #050801;
  box-shadow: 0 0 5px #5370e2,
    0 0 25px #5370e2,
    0 0 50px #5370e2,
    0 0 200px #5370e2;
}

.update-profile-cancelbutton-dark {
  width: 20vw;
  padding: 4vh 2vh;
  background-color: #050801;
  color: #d52222;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.update-profile-cancelbutton-light {
  width: 20vw;
  padding: 4vh 2vh;
  background-color: rgb(205, 142, 7);
  color: #050801;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.update-profile-cancelbutton-dark:hover {
  background: #d52222;
  color: #050801;
  box-shadow: 0 0 5px #d52222,
    0 0 25px #d52222,
    0 0 50px #d52222,
    0 0 200px #d52222;
}

.update-profile-cancelbutton-light:hover {
  background: #d52222;
  color: #050801;
  box-shadow: 0 0 5px #d52222,
    0 0 25px #d52222,
    0 0 50px #d52222,
    0 0 200px #d52222;
}


.update-profile-heading-dark {
  text-align: center;
  color: #00df9a;
  padding-top: 2vh;
}

.update-profile-heading-light {
  text-align: center;
  color: rgb(205, 142, 7);
  padding-top: 2vh;
}

@media (max-width: 1054px) and (min-width: 871px) {

  .updatedprofile-pic-dark,
  .updatedprofile-pic-light {
    max-width: 60vh;
    max-height: 60vh;
  }
}

@media (max-width: 870px) and (min-width: 441px) {

  .updatedprofile-pic-dark,
  .updatedprofile-pic-light {
    max-width: 40vh;
    max-height: 40vh;
  }
}

@media (max-width: 440px) and (min-width: 351px) {

  .updatedprofile-pic-dark,
  .updatedprofile-pic-light {
    max-width: 20vh;
    max-height: 20vh;
  }
}


/* upload button */
@media (max-width: 1054px) and (min-width: 871px) {

  .upload-profilepic-dark,
  .upload-profilepic-light {
    width: 10vw;
  }
}

@media (max-width: 870px) and (min-width: 441px) {

  .upload-profilepic-dark,
  .upload-profilepic-light {
    width: 20vw;
  }
}

@media (max-width: 440px) and (min-width: 351px) {

  .upload-profilepic-dark,
  .upload-profilepic-light {
    width: 30vw;
  }
}

/* for save and cancel buttons */

@media (max-width: 1054px) and (min-width: 871px) {

  .update-profile-cancelbutton-dark,
  .update-profile-cancelbutton-light,
  .update-profile-savebutton-dark,
  .update-profile-savebutton-dark {
    width: 20vw;
  }
}

@media (max-width: 870px) and (min-width: 441px) {

  .update-profile-cancelbutton-dark,
  .update-profile-cancelbutton-light,
  .update-profile-savebutton-dark,
  .update-profile-savebutton-dark {
    width: 30vw;

  }
}

@media (max-width: 440px) and (min-width: 351px) {

  .update-profile-cancelbutton-dark,
  .update-profile-cancelbutton-light,
  .update-profile-savebutton-dark,
  .update-profile-savebutton-dark {
    width: 40vw;

  }
}


/* username and bio  */

@media (max-width: 1054px) and (min-width: 871px) {

  .update-profile-label-dark,
  .update-profile-label-light {
    width: 50vw;
  }
}

@media (max-width: 870px) and (min-width: 441px) {

  .update-profile-label-dark,
  .update-profile-label-light {
    width: 70vw;
  }
}

@media (max-width: 440px) and (min-width: 351px) {

  .update-profile-label-dark,
  .update-profile-label-light {
    width: 90vw;
  }
}