.story-mode-intro-light{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

.story-mode-intro-dark{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

.backgrd2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00df9a;
}

.backgrd3-light{
    text-align: center;
    font-style: bold;
    font-size: xx-large;
    color: rgb(156, 20, 20);
}

.backgrd3-dark{
    text-align: center;
    font-style: bold;
    font-size: xx-large;
    color: #00df9a;
}


.backgrd4{
    .text-6xl { font-size: 3rem; }
    font-style: bold;
    color: #00df9a;
}

.backgrd5{
    .text-6xl { font-size: 3rem; }
    font-style: bold;
}

.buttons{
    background-color: #128460;
    width: 200px;
    height:50px;
    border-radius: 13px;
    max-width: auto;
    text-align: center;
    font-size: medium;
    color: black;
    font-style: italic;
    

    
}