/* Main Container */
.homepageContainer {
  /* top down and left right */
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
}

body {
  overflow: hidden;
}

/* .image {
  background-image: url("https://image.ibb.co/guDJFp/greece.jpg");
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: 100%;
  animation: slide 70s linear infinite;
  position: fixed;
  left: 0;
  top: 0;
  background-size: 30% auto;
  width: 6000px;
  transform: translate3d(0, 0, 0);
}
.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-30%, 0, 0);
  }
} */

/* Add carousel slider here --help me -arpit */
/* tring  */
/* Dark Mode */
.dark-mode {
  background: linear-gradient(45deg, #f06, #333 50%, #f06);
  background-size: 4px 4px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #b0a5a5;
}

/* Light Mode */
.light-mode {
  background: linear-gradient(45deg, #fff, #ddd 50%, #fff);
  background-size: 4px 4px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #e0d7d7; /* Adjust the text color for light mode */
}

/* Button
  .button {
    display: block;
    padding: 10px 20px;
    background-color: #0074cc;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.2s ease-in-out;
  } */
/*   
  .button:hover {
    background-color: #005baa;
    position: relative;
    top: -2px;
    left: 2px;
  } */

/* .buttonText{  
    /* top right down left */
/* padding:10px 15px 10px 15px;
    } */
*/

  /* .buttonText:hover{
    /* position: relative;
    top: -2px;
    left: 2px; */
    /* letter-spacing: 2px;
  } */ */
  
  /* Highlighted Texts */
  .highlight-text {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #0074cc;
}
.highlight-text-header {
  padding: 10px 20px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #7bbff4;
}

.highlighted-neon-text {
  padding: 10px 20px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;

  color: transparent; /* Make the text transparent */
  -webkit-text-stroke: 2px #ff66b2; /* Add a pink stroke around the text */
  text-shadow: 0 0 5px rgba(185, 10, 97, 0.5),
    /* Inner shadow for readability */ 0 0 10px rgba(136, 13, 75, 0.5),
    /* Inner shadow for readability */ 0 0 15px rgba(160, 16, 16, 0.8),
    /* Inner shadow for increased glow */ 0 0 20px rgb(107, 102, 255),
    /* Inner shadow for maximum glow */ 0 0 25px #f0fd3f5d; /* Outer glow for the neon effect */
  background-color: transparent; /* Remove the background color */
  border-radius: 10px; /* To create a rounded rectangle */
}

/* News Items large and small */
/* 
/* Updated Swiper.css */

/* animate  */
.flowCharts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  text-align: center;
}

.flowChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .flowChart {
    flex-direction: column;
  }
}

.flowChart img {
  width: 300px;
  height: 300px;
  transform-origin: all 0.5s ease-in-out;
  object-fit: cover;
  border-radius: 30%;
  margin-bottom: 20px;
  overflow: hidden;
}
.pulse {
  animation: pulse 1s infinite;
}

.flowChart img:hover {
  transform: scale(1.05);
  margin: 0 20px;
}

.flowChart h2 {
  font-size: 1.5rem;
  margin: 10px 20px;
  text-align: center;
}

.flowChart p {
  margin: 0 20px;
  font-size: 1rem;
}

.space {
  height: 40px;
}

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

nav img {
  height: 40px;
}

.hero_bottom {
  background-image: url("https://www.masala.com/cloud/2021/08/01/5iOQZ3fR-balance-blur-calm-312839.jpg-1200x800.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding: 0 20px;
  margin-bottom: 100px;
  margin-top: auto;
  display: flex;
  text-align: center;
  align-items: center;
}

.line {
  height: 30vh;
  color: white;
}

.hero-content {
  display: block;
  /* text-align: center; */
  margin: auto;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.hero h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: translateY(-10px);
}
