/* Main Container */
@import url("https://fonts.googleapis.com/css?family=Bad+Script");

.homepageContainer {
  /* top down and left right */
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
}

body {
  overflow: hidden;
}

.page-hero {
  /* background: #ddd; */
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.page-hero h1 {
  animation: slideUp 0.75s 0.5s cubic-bezier(0.17, 0.88, 0.32, 1.27) both,
    fadeIn 0.25s 0.5s ease-in both;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.61);
  top: 50%;
  width: 100%;
}
.page-hero h2 {
  animation: slideUp 0.75s 0.5s cubic-bezier(0.17, 0.88, 0.32, 1.27) both,
    fadeIn 0.25s 0.5s ease-in both;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.61);
  top: 80%;
  width: 100%;
}

@keyframes slideUp {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dark-mode {
  background: linear-gradient(45deg, #f06, #333 50%, #f06);
  background-size: 4px 4px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #b0a5a5;
  width: -webkit-fill-available;
}

/* Light Mode */
.light-mode {
  background: linear-gradient(45deg, #fff, #ddd 50%, #fff);
  background-size: 4px 4px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #e0d7d7;
  /* Adjust the text color for light mode */
}

/* Highlighted Texts */
.highlight-text {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #0074cc;
}

.highlight-text-header h3 {
  padding: 10px 20px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: darkgreen;
  font-family: Arial, Helvetica, sans-serif;
}

.home-heading-text {
  padding: 10px 20px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.flowCharts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  text-align: center;
}

.flowChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .flowChart {
    flex-direction: column;
  }
}

.flowChart img {
  width: 300px;
  height: 300px;
  transform-origin: all 0.5s ease-in-out;
  object-fit: cover;
  border-radius: 30%;
  margin-bottom: 20px;
  overflow: hidden;
}

.pulse {
  animation: pulse 1s infinite;
}

.flowChart img:hover {
  transform: scale(1.05);
  margin: 0 20px;
}

.flowChart h2 {
  font-size: 1.5rem;
  margin: 10px 20px;
  text-align: center;
}

.flowChart p {
  margin: 0 20px;
  font-size: 1rem;
}

.space {
  height: 40px;
}

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

nav img {
  height: 40px;
}

.hero_bottom {
  background-image: url("https://www.masala.com/cloud/2021/08/01/5iOQZ3fR-balance-blur-calm-312839.jpg-1200x800.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding: 0 20px;
  margin-bottom: 100px;
  margin-top: auto;
  display: flex;
  text-align: center;
  align-items: center;
}

.line {
  height: 30vh;
  color: white;
}

.hero-content {
  display: block;
  margin: auto;
  color: white;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.hero h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: translateY(-10px);
}

:root {
  --steps: 20;
  --background-dark: rgb(40, 40, 40);
  --background-light: whitesmoke;
}

.typing-dark {
  font-family: Bad Script, cursive;
  margin-left: 13vw;
  margin-right: 13vw;
  font-size: 9vw;
  color: #4cd763;
  position: relative;
  overflow: hidden;

  &::after {
    content: " !";
    position: absolute;
    right: 0;
    width: 100%;
    color: #4cd763;
    background: var(--background-dark);
    animation: typing 2s steps(var(--steps)) forwards, caret 1s infinite;
  }
}

.typing-light {
  font-family: Bad Script, cursive;
  margin-left: 13vw;
  margin-right: 13vw;
  font-size: 9vw;
  color: #d7884c;
  position: relative;
  background-color: rgb(225, 225, 220);
  overflow: hidden;

  &::after {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: #d7884c;
    background-color: rgb(225, 225, 220);
    animation: typing 2s steps(var(--steps)) forwards, caret 1s infinite;
  }
}

@keyframes typing {
  to {
    width: 0;
  }
}

@keyframes caret {
  50% {
    color: transparent;
  }
}
