.card-text form {
  padding-top: 2vh;
  font-size: 14px;
}

.card-title-light {
  font-weight: 300;
  color: whitesmoke;
}
.card-title-dark {
  font-weight: 300;
}

.form-group-dark label {
  margin-bottom: 3vh;
  color: black;
  font-weight: 600;
  width: 100%;
  margin-left: 0.3vw;
}
.form-group-light label {
  margin-bottom: 3vh;
  text-align: center;
  color: white;
  font-weight: 600;
  margin-left: 0.3vw;
}

.login-form-dark {
  background-color: antiquewhite;
  display: block;
  width: 30vw;
  margin: 20vh auto;
}
.login-form-light {
  background-color: rgb(70, 67, 62);
  display: block;
  width: 30vw;
  margin: 20vh auto;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

.submitButton {
  font-size: 14px;
  display: block;
  margin: 2vh auto;
}
