.Situation-dark {
    height: 100vh;
    width: 100%;
    padding-bottom: 4vh;
    padding-left: 2vh;
    display: flex;
    flex-direction: column;
    background-image: url("/public/images/editprofiledark.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.situation_docninfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
}

.Situation-light {
    height: 100vh;
    width: 100%;
    padding-bottom: 4vh;
    padding-left: 2vh;
    display: flex;
    flex-direction: column;
    background-image: url("/public/images/editprofilelight.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.situation-name-dark {

    color: #00df9a;
    width: 40vw;
    text-align: center;
    border-radius: 13px;
    display: block;
    margin: auto;
    outline: 5px solid #00df9a;
    font-size: small;
    overflow-wrap: break-word;
}

.situation-name-light {

    color: rgb(202, 129, 27);
    width: 40vw;
    text-align: center;
    border-radius: 13px;
    display: block;
    margin: auto;
    outline: 5px solid rgb(202, 129, 27);
    font-size: small;
    overflow-wrap: break-word;
}

.aboutsituation-dark {
    color: #00df9a;
    text-align: center;
    align-items: center;
    width: 92%;
    height: 100%;
    overflow-wrap: wrap;
    overflow-y: scroll;
}

.aboutsituation-light {
    color: rgb(202, 129, 27);
    text-align: center;
    align-items: center;
    width: 92%;
    height: 100%;
    overflow-wrap: wrap;
    overflow-y: scroll;
}

.aboutsituation-dark::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
}

.aboutsituation-light::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
}

.aboutsituation-dark::-webkit-scrollbar-track {
    background: orange;
    /* color of the tracking area */
}

.aboutsituation-light::-webkit-scrollbar-track {
    background: #00df9a;
    /* color of the tracking area */
}

.aboutsituation-dark::-webkit-scrollbar-thumb {
    background-color: blue;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid orange;
    /* creates padding around scroll thumb */
}

.aboutsituation-dark::-webkit-scrollbar-thumb {
    background-color: blue;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #00df9a;
    /* creates padding around scroll thumb */
}


.returnprev-dark {
    padding-left: 5vh;
}

.lottieimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vh 2vh 2vh;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
}

.goto-story-dark {
    padding: 25px 30px;
    background-color: #050801;
    color: #00df9a;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.goto-story-dark:hover {
    background: #00df9a;
    color: #050801;
    box-shadow: 0 0 5px #00df9a,
        0 0 25px #00df9a,
        0 0 50px #00df9a,
        0 0 200px #00df9a;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.goto-story-light {
    padding: 25px 30px;
    background-color: #05084f;
    color: rgb(205, 142, 7);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.goto-story-light:hover {
    background: rgb(205, 142, 7);
    color: #0a19c5;
    box-shadow: 0 0 5px rgb(205, 142, 7),
        0 0 25px rgb(205, 142, 7),
        0 0 50px rgb(205, 142, 7),
        0 0 200px rgb(205, 142, 7);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}