/* Authentication style */
:root {
    --background-light: white;
    --background-dark: #404040;
    --text-light: black;
    --text-dark: white;
    --highlight-color: grey;
  }
  
  .Login, .Signup, .ResetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .Login--dark, .Signup--dark, .ResetPassword--dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
  
  .Login--light, .Signup--light, .ResetPassword--light {
    background-color: var(--background-light);
    color: var(--text-light);
  }
  
  .Login__container, .Signup__container, .ResetPassword__container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Login__card, .Signup__card, .ResetPassword__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    background-color: var(--background-light);
  }
  
  .Login--dark .Login__card, .Signup--dark .Signup__card, .ResetPassword--dark .ResetPassword__card {
    background-color: var(--background-dark);
  }
  
  .Login__card:hover, .Signup__card:hover, .ResetPassword__card:hover {
    transform: scale(1.05);
    background-color: var(--highlight-color);
  }
  
  .Login__input, .Signup__input, .ResetPassword__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .Login__signInButton, .Signup__signInButton, .ResetPassword__signInButton {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .Login__signInButton:hover, .Signup__signInButton:hover, .ResetPassword__signInButton:hover {
    background-color: #222;
  }
