/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap");

.outerChatPage {
  height: 100vh;
}

.common {
  padding: 130px 0;
  min-height: 100vh;
  position: relative;
  background-color: #030324;
}
.home-inner {
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.home .text {
  max-width: 250px;
  text-align: right;
  margin-right: 60px;
  z-index: 1000;
}
.home h5 {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
.home h5:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -36%;
  width: 50px;
  height: 1px;
  background-color: #fff;
}
.home h1 {
  font-size: 64px;
  text-transform: uppercase;
}
.home p {
  font-size: 18px;
  line-height: 30px;
  color: #8d9eaa;
  margin: 30px 0 60px;
}
.home .Miabtn {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid #ffffff40;
  background-color: #ffffff40;
}
.home .Miabtn:hover {
  background-color: #23222240;
}

.shape {
  position: relative;
  top: -190px;
  opacity: 0.6;
}

.shape img {
  width: 100%;
  z-index: -9;
}

.img img {
  height: 40vh;
  width: 20vw;
}
.shape .shape1 {
  right: -160px;
  top: -50px;
  width: 450px;
  opacity: 0.5;
  transform-origin: center;
  animation: shape linear 30s infinite reverse;
}
.shape .shape2 {
  left: -70px;
  bottom: -50px;
  width: 450px;
  opacity: 0.5;
  transform-origin: center;
  animation: shape linear 30s infinite reverse;
}
@keyframes shape {
  100% {
    transform: rotate(360deg);
  }
}
.shape .shape3 {
  top: 0;
  left: 0;
  width: 250px;
  opacity: 0.4;
  transform-origin: center;
  animation: shape3 linear 20s infinite;
  transform: translate(-200px, -100px) rotate(0deg);
}
@keyframes shape3 {
  100% {
    transform: translate(1300px, 600px) rotate(360deg);
  }
}
.shape .shape4 {
  left: 0;
  bottom: 0;
  width: 150px;
  opacity: 0.4;
  transform-origin: center;
  animation: shape4 linear 20s infinite 5s;
  transform: translate(700px, 80px) rotate(0deg);
}
@keyframes shape4 {
  100% {
    transform: translate(1200px, -800px) rotate(360deg);
  }
}
.shape .shape5 {
  left: 500px;
  top: 0;
  width: 100px;
  opacity: 0;
  transform-origin: center;
  animation: shape5 linear 25s infinite;
  transform: translate(0, -150px) rotate(0deg);
}
@keyframes shape5 {
  100% {
    opacity: 1;
    transform: translate(0, 800px) rotate(720deg);
  }
}

@media screen and (max-width: 800px) {
  .home-inner {
    display: flex;
    flex-direction: row-reverse;
    z-index: 1000;
  }

  .img img {
    height: 40%;
    width: 80%;
  }

  .home h5:before {
    top: 50%;
    left: -10%;
    width: 40px;
    height: 1px;
  }

  .shape {
    z-index: 1;
    opacity: 0.6;
    top: 2vh;
  }
}
