/* Swiper.css */
/* hide any overflow from page */
.swiper-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.swiper-container-coverflow {
  overflow: hidden; /* Add this line */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.swiper-slide img {
  /* just fit in box */
  display: block;
  overflow: hidden;
  max-height: calc(100% - 40px);
  max-width: calc(100% - 40px);
}

.swiper-scrollbar {
  overflow: hidden;
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
}
