/*for Navbar*/
.large-screen {
  display: flex;
}

nav {
  height: 6rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 10;
}

.nav-links {
  display: flex;
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  font-size: larger;
  color: mediumseagreen;
}
.nav-links li .mainLinks:hover {
  color: #61dafb;
}
.nav-links li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav-links li .mainLinks::before {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
  width: 60%;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-links {
    margin: 2vw 1vw;
  }

  .nav-links li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2vw;
  }
  .nav-links li a {
    font-size: 1.6vh;
    flex-wrap: wrap;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.profile-pic-navbar-dark,
.profile-pic-navbar-light {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background-color: white;
}

.sankalp-logo {
  height: 10vh;
  width: 10vh;
  border-radius: 40%;
  background-color: white;
}

.nav-links li svg {
  height: 20px;
  width: 50px;
  color: burlywood;
}
