/* Light Theme Styles */
.blog-post-light {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Light background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333; /* Light text color */
}

/* Header Styles for Light Theme */
.header-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-light h1 {
  font-size: 28px;
  margin: 0;
}

.author-light {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.author-light span {
  margin-right: 10px;
}

.share-icon-light {
  cursor: pointer;
  font-size: 20px;
  color: #0074cc;
}

/* Paragraph Styles for Light Theme */
.intro-paragraph-light {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.5;
}

.text-paragraph-light {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.5;
}

/* Image Styles for Light Theme */
.blog-image-light {
  max-width: 100%;
  height: auto;
  align-self: auto;
  margin-top: 20px;
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.3s ease-in-out; /* Add a smooth hover effect */
}

/* Apply a scale effect on hover */
.blog-image-light:hover {
  transform: scale(1.1);
}



/* Dark Theme Styles (copy the Light Theme styles and adjust the colors) */
.blog-post-dark {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333; /* Dark background color */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjust shadow color */
  color: #fff; /* Dark text color */
}

/* Header Styles for Dark Theme */
.header-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-dark h1 {
  font-size: 28px;
  margin: 0;
}

.author-dark {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.author-dark span {
  margin-right: 10px;
}

.share-icon-dark {
  cursor: pointer;
  font-size: 20px;
  color: #0074cc;
}

/* Paragraph Styles for Dark Theme */
.intro-paragraph-dark {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.5;
}
.text-paragraph-dark{
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.5;
}

/* Image Styles for Dark Theme */
.blog-image-dark {
  max-width: 100%;
  height: auto;
  align-self: auto;
  margin-top: 20px;
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Add a subtle shadow */
  transition: transform 0.3s ease-in-out; /* Add a smooth hover effect */
}

/* Apply a scale effect on hover */
.blog-image-dark:hover {
  transform: scale(1.1);
}
